<nav class="py-10 navbar navbar-expand-md navbar-dark fixed-top bg-dark position-relative" >
  <a class="navbar-brand" href="{% url 'home' %}">D Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0 ">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    <ul class="navbar-nav ml-auto">
      {% if not request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}" >Sign Up</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-inbox"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account-profile' id=request.user.id %}">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}" >Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>