{% extends "base.html" %}

{% block content %}
<h1 class="text-center pt-2">Columns</h1>


  {% for column in columns %}
  <div class="list-group mb-4">
  <a href="{% url 'post-list' column_id=column.id %}" class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ column.title }}</h5>
      
    </div>
    <small>By, {{column.coordinator}}</small>
  </a>
  </div>
  {% endfor %}






{% endblock content %}