{% extends "base.html" %}

{% load static %}
{% block content %}
<body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
  <hr>
  {% for column in column_list %}
  <h2 class="text-center">
    {% if request.user in column.subscribers.all %}
    
    {% else %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'subscribe' column_id=column.id %}" type="button" class="btn btn-primary btn-sm float-left ml-5">Subscribe</a>
    {% endif %}
    {% endif %}    
    {{column.title}}
  </h2>
    
  <div id="carouselExampleIndicators{{column.id}}" class="carousel slide pause" style="padding: 0 4rem" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for post in column.posts.all %}
        <li class="bg-dark" data-target="#carouselExampleIndicators{{column.id}}" data-slide-to="{{forloop.counter0}}" ></li>
       {% endfor %} 
    </ol>
       
    <div class="carousel-inner px-20">
    {% for post in column.posts.all %}  
      {% if forloop.counter0 == 0 %}
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-9 col-md-6">
            <h3>{{ post.heading }}</h3>
            <p >{{ post.content|truncatechars:400 }}</p>
            <p>{{ post.author.username }}</p>
            <p class="pl-5"><a class="btn btn-secondary " href="{% url 'post-detail' post_id=post.id %}" role="button">View details »</a></p>
          </div>
          <div class="col-lg-3 col-md-6">
            <img class=" "  src="{{ post.image.url }}" width="200" height="200" alt="First slide">
          </div>
        </div>   
      </div>
      {% else %}
      <div class="carousel-item ">
        <div class="row">
          <div class="col-lg-9 col-md-6">
            <h3>{{ post.heading }}</h3>
            <p >{{ post.content|truncatechars:400 }}</p>
            <p>{{ post.author.username }}</p>
            <p class="pl-5">
              <a class="btn btn-secondary"href="{% url 'post-detail' post_id=post.id %}" role="button">View details »</a>
            </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <img class=" "  src="{{ post.image.url }}" width="200" height="200" alt="First slide">
          </div>
        </div>   
      </div>
      {% endif %}
      
    {% endfor %}
    </div>
    
      <a class="carousel-control-prev " style="padding-right: 80px; padding-top: 100px;  display: inline-block;" href="#carouselExampleIndicators{{column.id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-danger"  aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next "  style="padding-left: 70px; padding-top: 100px;  display: inline-block;" href="#carouselExampleIndicators{{column.id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-danger"  aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    
    <hr>
  </div>
    {% endfor %}


</main>
  

</body>
{% endblock content %}