{% extends "base.html" %}

{% block content %}
  {% if not posts %}
    <h1 class="text-center pt-3">There is no posts in this page</h1>
    <h5>If you want to be a writer for a column.</h5>
    <h5>You can contact one of our coordinators.</h5>
  {% endif %}  

<div class="row">
  <div class="card-group ">
  {% for post in posts %}
    <div class="col-md-6 py-4">
      <div class="card">
        <img class="" src="{{ post.image.url }}"  height="300" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ post.heading }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text"><small class="text-muted">Posted {{post.publish_date|timesince}} ago</small></p>
          <p class="card-text"><small class="text-muted">Author: {{ post.author }}</small></p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}