{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="card-group ">
  {% if request.user in column.workers.all or request.user == column.coordinator %}
  <div class="col-md-6" style="padding: 100px;">
    <div class="card">
      <div class="card-body text-center py-5">
        <a href="{% url 'post-create' column_id=column.id %}"><i class="far fa-plus-square fa-10x" ></i></a>  
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

  {% for post in column.posts.all %}
    <div class="col-md-6 py-4">
      <div class="card">
        <img class="" src="{{ post.image.url }}"  height="300" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ post.heading }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text"><small class="text-muted">Posted {{post.publish_date|timesince}} ago</small></p>
          <p class="card-text">
            <small class="text-muted">Author: {{ post.author }}</small>
            {% if post.approved == "W" and has_perm %}
            <span class="float-right">
              <a href="{% url 'post-approve' post_id=post.id %}" type="button" class="btn btn-primary btn-sm">Approve</a>
              <a href="{% url 'post-reject' post_id=post.id %}" type="button" class="btn btn-danger btn-sm">Reject</a>
            </span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock content %}